
<h1>Main Switches</h1>

<table>
  <thead>
    <tr>
      <th>Control</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_switches.each do |main_switch| %>
      <tr>
        <td><%= main_switch.control %></td>
        <td><%= link_to 'Show', main_switch %></td>
        <td><%= link_to 'Edit', edit_main_switch_path(main_switch) %></td>
        <td><%= link_to 'Destroy', main_switch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main Switch', new_main_switch_path %>
