<div align="center">

<p>
  <strong>Name:</strong>
  <%= @control.name %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @control.pin %>
</p>

<p>
  <strong>Manual Control Status:</strong>
  <%= @control.automated ? "OFF" : "ON" %>
</p>

<p>
  <strong>Turn ON Time:</strong>
  <%= @control.configure.strftime("at %I:%M%p") %>
</p>

<p>
  <strong>Turn OFF Time:</strong>
  <%= @control.configureoff.strftime("at %I:%M%p") %>
</p>

<%= link_to 'Edit', edit_control_path(@control) %> |
<%= link_to 'Back', controls_path %>
</div>
